@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Roboto, Noto, sans-serif;
  overflow: hidden;
}

header {
  width: auto;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: #838383;
}

.more {
  float: right;
  position: relative;
}

.dropdown {
  font-size: 1rem;
  position: absolute;
  margin-top: 0.5rem;
  right: 0;
  background-color: #a3a3a3;
  display: none;
}

.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  white-space: nowrap;
  padding: 1rem;
}

section {
  text-align: center;
}

.bpm {
  font-size: 7rem;
  padding: 1rem;
}
