@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Roboto, Noto;
}

body {
  text-align: center;
}

header {
  width: auto;
  font-size: 3rem;
  padding: 1rem;
  background-color: gray;
}

.bpm {
  font-size: 8rem;
  padding: 1rem;
}
